$font-family_1: 'Fredoka One';
$font-family_2: 'Montserrat', bold;
$font-family_3: 'Fredoka One', bold;


$color_1: black;
$color_2: white;
$background-color_1: #acb5cc;
$background-color_2: #666f88;
$background-color_3: white;